body{
    margin: 0;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    color: rgb(51, 56, 195);
}
h2{
    color: blueviolet;
}
ul{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    color: rgb(118, 77, 70);
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#light-layer{
    width: 55ch;}
div {
    background-color: rgb(219, 219, 219);
}